---
---
@import 'vars';
@import 'son-of-obsidian';

body {
    border-top: 1px dashed $white_50;
    background-color: $black;
    margin: 0 auto;
    padding: 0;
    font-family: $font_0;
    font-size: 1.3em;
    line-height: unset !important;
    color: $white_60;
    text-align: center;
    //width: 800px;
}
div.logo {
    color: $blaze_orange_90;
    font-size: 2.5em;
    font-family: $font_0;
    font-weight: bold;
}
h1 {
    color: $blaze_orange_80;
    font-size: 2.0em;
    font-family: $font_0;
    font-weight: bold;
}
h2 {
    color: $blaze_orange_70;
    font-size: 1.8em;
    font-weight: bold;
}
h3 {
    color: $blaze_orange_60;
    font-size: 1.6em;
    font-weight: bold;
}
h4 {
    color: $blaze_orange_50;
    font-size: 1.4em;
    font-weight: bold;
}
h5 {
    color: $blaze_orange_40;
    font-size: 1.2em;
    font-weight: bold;
}
h6 {
    color: $blaze_orange_30;
    font-size: 1em;
    font-weight: bold;
}
footer {
    color: $blaze_orange_80;
    font-weight: bold;
    //width: 60%;
    border-top: dashed 1px $white_50;
    margin: 20px auto 15px;
    padding-top: 10px;
}
header {
    margin-top: 25px;
    margin-bottom: 10px;
    color: $blaze_orange_90;
    p {
        text-align: left;
        margin: 0;
        color: $white_50;
    }
}
a {
    text-decoration: none;
    color: $blaze_orange_80;
    &:hover {
        color: $blaze_orange_60;
    }
}
.menu {
    border-top: 1px dashed $white_50;
    border-bottom: 1px dashed $white_50;
    margin-bottom: 10px;
    ul {
        margin-top: 12px;
        margin-bottom: 12px;
        padding-left: 0;
        li {
            display: inline;
            margin-left: 5px;
            a {
                text-decoration: none;
                color: $color_bamboo_80_approx;
                &:before {
                    content: '{';
                }
                &:hover::before {
                    content: '[';
                }
                &:hover::after {
                    content: ']';
                }
                &:after {
                    content: '}';
                }
            }
        }
    }
}
main {
    text-align: left;
}
pre {
    background-color: $white_5;
    border: 1px dashed $white_50;
    padding: 8px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    //Instead of the line below you could use @include border-radius($radius, $vertical-radius)
    border-radius: 3px;
    overflow: auto;
    font-family: $font_0;
    font-size: 0.9em;
    color: $white_40;
}
img {
    border: 1px dashed $white_50;
    padding: 8px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    //Instead of the line below you could use @include border-radius($radius, $vertical-radius)
    border-radius: 3px;
}
iframe {
    width: 750px;
    height: 400px;
    border: 1px dashed $white_50;
    padding: 8px;
    margin-bottom: 10px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    //Instead of the line below you could use @include border-radius($radius, $vertical-radius)
    border-radius: 3px;
}
.feed-recomendation {
    border-top: 1px dashed $white_50;
    border-bottom: 1px dashed $white_50;
    margin-top: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
}
audio {
    width: 90%;
}
table {
    width: 100%;
    border-collapse: collapse;
    text-align: center;
    a {
        color: $white;
    }
}
td {
    border: 1px dashed $white_50;
}
caption {
    display: none;
}
.comment {
    color: $white_30;
}
.reserved {
    color: $blaze_orange_60;
}
.string {
    color: $blaze_orange_90;
}
.function {
    color: $yellow_50;
}
.number {
    color: $white_70;
}
.keyword {
    color: $white_70;
}

div.header-code {
  span.string {
    a {
	  color: $blaze_orange_90;
    }
  }
  a {
    color: $white_50;
  }
}

blockquote {
    border-left: unset;
    margin: unset;
    font-size: 1.2em;
}
ul.cli-bullets {
    list-style: none;
    li:before {
        content: ' $ > ';
        font-size: 0.7em;
    }
}
