---
---
//colors
$white_50: rgba(255,255,255,0.5);
$black: #000000;
$white_60: rgba(255,255,255,0.6);
$blaze_orange_80: rgba(255,102,0,0.8);
$blaze_orange_70: rgba(255,102,0,0.7);
$blaze_orange_60: rgba(255,102,0,0.6);
$blaze_orange_50: rgba(255,102,0,0.5);
$blaze_orange_40: rgba(255,102,0,0.4);
$blaze_orange_30: rgba(255,102,0,0.3);
$blaze_orange_90: rgba(255,102,0,0.9);
$color_bamboo_80_approx: rgba(220,102,0,0.8);
$color_log_cabin_approx: #222222;
$color_east_bay_approx: #445588;
$white_5: rgba(255,255,255,0.05);
$white_40: rgba(255,255,255,0.4);
$white: white;
$color_lemon_grass_approx: #999988;
$color_tamarillo_approx: #a61717;
$color_swiss_coffee_approx: #e3d2d2;
$color_mountain_mist_approx: #999999;
$color_pippin_approx: #ffdddd;
$color_cornflower_lilac_approx: #ffaaaa;
$color_bright_red_approx: #aa0000;
$color_snowy_mint_approx: #ddffdd;
$color_mint_green_approx: #aaffaa;
$color_suva_gray_approx: #888888;
$color_fuscous_gray_approx: #555555;
$color_silver_chalice_approx: #aaaaaa;
$color_persian_green_approx: #009999;
$color_crimson_approx: #d14;
$teal: #008080;
$color_bondi_blue_approx: #0086b3;
$color_seance_approx: #800080;
$color_red_berry_approx: #990000;
$navy_blue: #000080;
$color_pink_swan_approx: #bbbbbb;
$color_forest_green_approx: #009926;
$color_flirt_approx: #990073;
$white_30: rgba(255,255,255,0.3);
$yellow_50: rgba(255,255,0,0.5);
$white_70: rgba(255,255,255,0.7);

//fonts
$font_0: monospace;

body {
    border-top: 1px dashed $white_50;
    background-color: $black;
    margin: 0 auto;
    padding: 0;
    font-family: $font_0;
    font-size: 12px;
    line-height: unset !important;
    color: $white_60;
    text-align: center;
    //width: 800px;
}
h1 {
    color: $blaze_orange_80;
    font-size: 24px;
    font-family: $font_0;
    font-weight: bold;
}
h2 {
    color: $blaze_orange_70;
}
h3 {
    color: $blaze_orange_60;
}
h4 {
    color: $blaze_orange_50;
}
h5 {
    color: $blaze_orange_40;
}
h6 {
    color: $blaze_orange_30;
}
footer {
    color: $blaze_orange_80;
    font-weight: bold;
    //width: 60%;
    border-top: dashed 1px $white_50;
    margin: 20px auto 15px;
    padding-top: 10px;
}
header {
    margin-top: 25px;
    margin-bottom: 10px;
    color: $blaze_orange_90;
    p {
        text-align: left;
        margin: 0;
        color: $white_50;
    }
}
a {
    text-decoration: none;
    color: $blaze_orange_80;
    &:hover {
        color: $blaze_orange_60;
    }
}
.menu {
    border-top: 1px dashed $white_50;
    border-bottom: 1px dashed $white_50;
    margin-bottom: 10px;
    ul {
        margin-top: 12px;
        margin-bottom: 12px;
        padding-left: 0;
        li {
            display: inline;
            margin-left: 5px;
            a {
                text-decoration: none;
                color: $color_bamboo_80_approx;
                &:before {
                    content: '{';
                }
                &:hover::before {
                    content: '[';
                }
                &:hover::after {
                    content: ']';
                }
                &:after {
                    content: '}';
                }
            }
        }
    }
}
main {
    text-align: left;
}
code {
    background-color: $color_log_cabin_approx;
    color: $color_east_bay_approx;
    font-weight: bold;
    padding: 2px 3px;
}
pre {
    background-color: $white_5;
    border: 1px dashed $white_50;
    padding: 8px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    //Instead of the line below you could use @include border-radius($radius, $vertical-radius)
    border-radius: 3px;
    overflow: auto;
    font-family: $font_0;
    font-size: 12px;
    color: $white_40;
}
img {
    width: 80%;
    margin-left: 10%;
    border: 1px dashed $white_50;
    padding: 8px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    //Instead of the line below you could use @include border-radius($radius, $vertical-radius)
    border-radius: 3px;
}
iframe {
    width: 750px;
    height: 400px;
    border: 1px dashed $white_50;
    padding: 8px;
    margin-bottom: 10px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    //Instead of the line below you could use @include border-radius($radius, $vertical-radius)
    border-radius: 3px;
}
.feed-recomendation {
    border-top: 1px dashed $white_50;
    border-bottom: 1px dashed $white_50;
    margin-top: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
}
audio {
    width: 90%;
}
table {
    width: 100%;
    border-collapse: collapse;
    text-align: center;
    a {
        color: $white;
    }
}
td {
    border: 1px dashed $white_50;
}
caption {
    display: none;
}
.highlight {
    .c {
        color: $color_lemon_grass_approx;
        font-style: italic;
    }
    .err {
        color: $color_tamarillo_approx;
        background-color: $color_swiss_coffee_approx;
    }
    .k {
        font-weight: bold;
    }
    .o {
        font-weight: bold;
    }
    .cm {
        color: $color_lemon_grass_approx;
        font-style: italic;
    }
    .cp {
        color: $color_mountain_mist_approx;
        font-weight: bold;
    }
    .c1 {
        color: $color_lemon_grass_approx;
        font-style: italic;
    }
    .cs {
        color: $color_mountain_mist_approx;
        font-weight: bold;
        font-style: italic;
    }
    .gd {
        color: $black;
        background-color: $color_pippin_approx;
        .x {
            color: $black;
            background-color: $color_cornflower_lilac_approx;
        }
    }
    .ge {
        font-style: italic;
    }
    .gr {
        color: $color_bright_red_approx;
    }
    .gh {
        color: $color_mountain_mist_approx;
    }
    .gi {
        color: $black;
        background-color: $color_snowy_mint_approx;
        .x {
            color: $black;
            background-color: $color_mint_green_approx;
        }
    }
    .go {
        color: $color_suva_gray_approx;
    }
    .gp {
        color: $color_fuscous_gray_approx;
    }
    .gs {
        font-weight: bold;
    }
    .gu {
        color: $color_silver_chalice_approx;
    }
    .gt {
        color: $color_bright_red_approx;
    }
    .kc {
        font-weight: bold;
    }
    .kd {
        font-weight: bold;
    }
    .kp {
        font-weight: bold;
    }
    .kr {
        font-weight: bold;
    }
    .kt {
        color: $color_east_bay_approx;
        font-weight: bold;
    }
    .m {
        color: $color_persian_green_approx;
    }
    .s {
        color: $color_crimson_approx;
    }
    .na {
        color: $teal;
    }
    .nb {
        color: $color_bondi_blue_approx;
    }
    .nc {
        color: $color_east_bay_approx;
        font-weight: bold;
    }
    .no {
        color: $teal;
    }
    .ni {
        color: $color_seance_approx;
    }
    .ne {
        color: $color_red_berry_approx;
        font-weight: bold;
    }
    .nf {
        color: $color_red_berry_approx;
        font-weight: bold;
    }
    .nn {
        color: $color_fuscous_gray_approx;
    }
    .nt {
        color: $navy_blue;
    }
    .nv {
        color: $teal;
    }
    .ow {
        font-weight: bold;
    }
    .w {
        color: $color_pink_swan_approx;
    }
    .mf {
        color: $color_persian_green_approx;
    }
    .mh {
        color: $color_persian_green_approx;
    }
    .mi {
        color: $color_persian_green_approx;
    }
    .mo {
        color: $color_persian_green_approx;
    }
    .sb {
        color: $color_crimson_approx;
    }
    .sc {
        color: $color_crimson_approx;
    }
    .sd {
        color: $color_crimson_approx;
    }
    .s2 {
        color: $color_crimson_approx;
    }
    .se {
        color: $color_crimson_approx;
    }
    .sh {
        color: $color_crimson_approx;
    }
    .si {
        color: $color_crimson_approx;
    }
    .sx {
        color: $color_crimson_approx;
    }
    .sr {
        color: $color_forest_green_approx;
    }
    .s1 {
        color: $color_crimson_approx;
    }
    .ss {
        color: $color_flirt_approx;
    }
    .bp {
        color: $color_mountain_mist_approx;
    }
    .vc {
        color: $teal;
    }
    .vg {
        color: $teal;
    }
    .vi {
        color: $teal;
    }
    .il {
        color: $color_persian_green_approx;
    }
}
.comment {
    color: $white_30;
}
.reserved {
    color: $blaze_orange_60;
}
.string {
    color: $blaze_orange_90;
}
.function {
    color: $yellow_50;
}
.number {
    color: $white_70;
}
.keyword {
    color: $white_70;
}
blockquote {
    border-left: unset;
    margin: unset;
    font-size: 12px;
}
ul.cli-bullets {
    list-style: none;
    li:before {
        content: ' $ > ';
        font-size: 0.7em;
    }
}
