<header class="row">
  <div class="col-lg-8 col-lg-offset-2">
      <h1 class="">{{ site.title }} </h1>
    <p>
    <span class="function">main</span> <span class="reserved">::</span> IO ()
    </p>
    <p>
    <span class="function">main</span> <span class="reserved">= do</span>
    </p>
    <p>
    &nbsp;&nbsp;&nbsp;&nbsp;<span class="function">putStrLn</span> ( <span class="string">"https://github.com/"</span> <span class="reserved">++</span> username )
    </p>
    <p>
    &nbsp;&nbsp;&nbsp;&nbsp;<span class="function">putStrLn</span> ( address <span class="reserved">++</span> <span class="string">"@gmail.com"</span> )
    </p>
    <p>
    &nbsp;&nbsp;&nbsp;&nbsp;<span class="function">putStrLn</span> ( </span> <span class="string"><a href="{{ site.baseurl }}misc/pubkey.gpg.txt" target="_blank">"E57A 23D4 045E A65A 1AE1 43AF 011F 422E 7F52 FFA8"</a></span> )
    </p>
    <p>
    &nbsp;&nbsp;&nbsp;&nbsp;<span class="reserved">where</span> address = <span class="string">"marco.paulo.lopes"</span>
    </p>
    <p>
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;username = <span class="string">"mlopes"</span>
    </p>
  </div>
</header>

{% include menu.html %}
