<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="author" content="{{ site.author }}">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>{% if page.title %}{{ page.title }} | {{ site.title }}{% else %}{{ site.title }}{% endif %}</title>

    {% if page.path contains '_posts' %}
    <link rel="amphtml" href="{{ page.id | prepend: 'amp' | prepend: site.baseurl | prepend: site.url }}.html">
    {% endif %}

    <!-- Bootstrap -->
    <link rel="stylesheet" href="{{ site.baseurl }}css/bootstrap-3.3.6/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{ site.baseurl }}css/main.css">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
          <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
          <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
        <![endif]-->

    <link rel="shortcut icon" href="{{ site.baseurl }}assets/images/favicon.jpg">

    <link rel="alternate" type="application/atom+xml" title="Atom Feed" href="{{ site.baseurl }}feed/"> 

    <!-- Twitter cards -->
    <meta name="twitter:site"    content="@{{ site.social.twitter }}">
    <meta name="twitter:creator" content="@{{ site.social.twitter }}">
    <meta name="twitter:title"   content="{{ page.title }}">
    
    {% if page.summary %}
    <meta name="twitter:description" content="{{ page.summary }}">
    {% else %}
    <meta name="twitter:description" content="{{ site.description }}">
    {% endif %}
    
    {% if page.image %}
    <meta name="twitter:card"  content="summary_large_image">
    <meta name="twitter:image" content="{{ site.url }}{{ page.image }}">
    {% else %}
    <meta name="twitter:card"  content="summary">
    <meta name="twitter:image" content="{{ site.url }}{{ site.title_image }}">
    {% endif %}
    <!-- end of Twitter cards -->
    <!-- linkedin meta tags -->
    <meta property="og:title" content="{{ page.title }}"/>
    {% if page.image %}
    <meta property="og:image" content="{{ site.url }}{{ page.image }}"/>
    {% else %}
    <meta property="og:image" content="{{ site.url }}{{ site.title_image }}"/>
    {% endif %}
    {% if page.summary %}
    <meta property="og:description" content="{{ page.summary }}"/>
    {% else %}
    <meta property="og:description" content="{{ site.description }}"/>
    {% endif %}
    <meta property="og:url" content="{{ site.url }}{{ page.id }}" />
    <!-- end of linkedin meta tags -->

    <meta content="{{ page.summary }}" name='twitter:description'>

</head>
