<header class="row">
  <div class="col-lg-8 col-lg-offset-2">
    <div class="logo"><a href="{{ site.baseurl }}">{{ site.title }}</a></div>
    <div class="header-code">
        <p>
            <span class="function">main</span> <span class="reserved">::</span> IO ()
        </p>
        <p>
        <span class="function">main</span> <span class="reserved">= do</span>
        </p>
        <p>
        &nbsp;&nbsp;&nbsp;&nbsp;<span class="function">putStrLn</span> ( <a href="https://github.com/{{site.social.github}}" target="_blank"><span class="string">"https://github.com/"</span> <span class="reserved">++</span> githubUser </a>)
        </p>
        <p>
        &nbsp;&nbsp;&nbsp;&nbsp;<span class="function">putStrLn</span> ( <a href="https://twitter.com/{{site.social.twitter}}" target="_blank"><span class="string">"https://twitter.com/"</span> <span class="reserved">++</span> twitterUser </a>)
        </p>
        <p>
        &nbsp;&nbsp;&nbsp;&nbsp;<span class="function">putStrLn</span> ( </span> <span class="string"><a href="{{ site.baseurl }}misc/pubkey.gpg.txt" target="_blank">"{{ site.social.fingerprint_key }}"</a></span> )
        </p>
        <p>
        &nbsp;&nbsp;&nbsp;&nbsp;<span class="reserved">where</span> twitterUser = <span class="string">"{{ site.social.twitter }}"</span>
        </p>
        <p>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;githubUser = <span class="string">"{{ site.social.github }}"</span>
        </p>
    </div>
  </div>
</header>

{% include navigation.html %}
