//colors
$color_log_cabin_approx: #272822;
$color_shark_approx: #22282a;
$color_sage_approx: #99aa8a;
$color_cardinal_pink_approx: #960050;
$color_asphalt_approx: #1e0010;
$color_olivine_approx: #93c763;
$color_dull_lavender_approx: #ae81ff;
$color_concrete_approx: #f1f2f3;
$color_raffia_approx: #e8e2b7;
$color_bermuda_gray_approx: #678cb1;
$color_seagull_approx: #83d8e1;
$color_mango_tango_approx: #ec7600;
$color_lightning_yellow_approx: #ffcd22;

.highlight table td { padding: 5px; }
.highlight table pre { margin: 0; }
code {
    font-family: 'Hasklig Regular';
}
.highlight, .highlight .w {
  color: #d0d0d0;
}
.highlight .err {
  color: #151515;
  background-color: #ac4142;
}
.highlight .c, .highlight .cd, .highlight .cm, .highlight .c1, .highlight .cs {
  color: #888;
}
.highlight .cp {
  color: #f4bf75;
}
.highlight .nt {
  color: #f4bf75;
}
.highlight .o, .highlight .ow {
  color: #d0d0d0;
}
.highlight .p, .highlight .pi {
  color: #d0d0d0;
}
.highlight .gi {
  color: #90a959;
}
.highlight .gd {
  color: #ac4142;
}
.highlight .gh {
  color: #6a9fb5;
  font-weight: bold;
}
.highlight .k, .highlight .kn, .highlight .kp, .highlight .kr, .highlight .kv {
  color: #aa759f;
}
.highlight .kc {
  color: #d28445;
}
.highlight .kt {
  color: #d28445;
}
.highlight .kd {
  color: #d28445;
}
.highlight .s, .highlight .sb, .highlight .sc, .highlight .sd, .highlight .s2, .highlight .sh, .highlight .sx, .highlight .s1 {
  color: #90a959;
}
.highlight .sr {
  color: #75b5aa;
}
.highlight .si {
  color: #8f5536;
}
.highlight .se {
  color: #8f5536;
}
.highlight .nn {
  color: #f4bf75;
}
.highlight .nc {
  color: #f4bf75;
}
.highlight .no {
  color: #f4bf75;
}
.highlight .na {
  color: #6a9fb5;
}
.highlight .m, .highlight .mf, .highlight .mh, .highlight .mi, .highlight .il, .highlight .mo, .highlight .mb, .highlight .mx {
  color: #90a959;
}
.highlight .ss {
  color: #90a959;
}

p {
  code {
    border: 1px dashed $color_asphalt_approx;
    background-color: $color-shark_approx;
    color: $color-primary-1;
    padding: 1px 2px;
    font-family: 'Hasklig Regular';
  }
}
