//colors

$color-background: #1B1A16;
$color-primary-0: #FF6700;    // Main Primary color */
$color-primary-1: #FFA264;
$color-primary-2: #FF8939;
$color-primary-3: #C65000;
$color-primary-4: #9B3F00;
$color-primary-5: #C3A5B3;


$yellow_50: rgba(255,255,0,0.5);

//fonts
@import url('https://fonts.googleapis.com/css?family=Roboto Mono');
$font_0: 'Roboto Mono';
$font_1: monospace;
