//colors
$white_50: rgba(255,255,255,0.5);
$black: #000000;
$white_60: rgba(255,255,255,0.6);
$blaze_orange_80: rgba(255,102,0,0.8);
$blaze_orange_70: rgba(255,102,0,0.7);
$blaze_orange_60: rgba(255,102,0,0.6);
$blaze_orange_50: rgba(255,102,0,0.5);
$blaze_orange_40: rgba(255,102,0,0.4);
$blaze_orange_30: rgba(255,102,0,0.3);
$blaze_orange_90: rgba(255,102,0,0.9);
$color_bamboo_80_approx: rgba(220,102,0,0.8);
$color_log_cabin_approx: #222222;
$color_east_bay_approx: #445588;
$white_5: rgba(255,255,255,0.05);
$white_40: rgba(255,255,255,0.4);
$white: white;
$white_30: rgba(255,255,255,0.3);
$yellow_50: rgba(255,255,0,0.5);
$white_70: rgba(255,255,255,0.7);

//fonts
$font_0: monospace;
