---
layout: page
---

{% capture read_time %}{{page.content|number_of_words|divided_by:180}}{% endcapture %}

<div class="post">

  <header class="post-header">
    <p class="meta">
        {{ page.date | date: "%b %-d, %Y" }}
        {% if page.author %} • {{ page.author }}{% endif %}
        {% if page.meta %} • {{ page.meta }}{% endif %}
        •
        {% for tag in page.tags %}<span><a href="{{ site.baseurl }}tags/#{{ tag }}" class="reserved">{{ tag }}</a>{% if forloop.last != true %},{% endif %}</span>{% endfor %}
        •
        <span class="read-time">({% if read_time != '0' %} {{ read_time }} {% else %} less than 1 {% endif %} min read )</span>
    </p>
  </header>

  <article class="post-content">
  {{ content }}
  </article>

  <p class="feed-recomendation">
  If you'd like to keep up to date with new posts, follow me on twitter <a href="https://twitter.com/{{ site.social.twitter }}">@{{ site.social.twitter}}</a>,<br /> or subscribe to the <a href="{{ site.baseurl }}feed.xml">feed</a>.
  </p>

  {% include disqus.html %}

</div>
